<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDTN46ZRLNXy578QrzLmjb6jhB00toOmS0</string>
	<key>GCM_SENDER_ID</key>
	<string>799936315484</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.teamsacademy.teamsAcademy</string>
	<key>PROJECT_ID</key>
	<string>teams-academy</string>
	<key>STORAGE_BUCKET</key>
	<string>teams-academy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:799936315484:ios:deed386698bd293bc5e699</string>
	<key>DATABASE_URL</key>
	<string>https://teams-academy-default-rtdb.firebaseio.com</string>
</dict>
</plist>